gravity:
{{ gravity | to_nice_yaml(indent=2) | indent(2, first=True) }}

galaxy:
{{ galaxy | to_nice_yaml(indent=2) | indent(2, first=True) }}

  {% if GALAXY_PROXY_PREFIX %}
  galaxy_url_prefix: /{{ GALAXY_PROXY_PREFIX | regex_replace("^/", "") | regex_replace("/$", "") }}
  {% endif %}

  {% if GALAXY_DEPENDENCY_RESOLUTION == 'singularity' %}
  enable_mulled_containers: true
  containers_resolvers_config_file: container_resolvers_conf.yml
  {% endif %}
