{% if galaxy_job_metrics_core %}
- type: core
{% endif %}
{% if galaxy_job_metrics_cpuinfo and galaxy_job_metrics_cpuinfo == "verbose" %}
- type: cpuinfo
  verbose: false
{% elif galaxy_job_metrics_cpuinfo %}
- type: cpuinfo
{% endif %}
{% if galaxy_job_metrics_meminfo %}
- type: meminfo
{% endif %}
{% if galaxy_job_metrics_uname %}
- type: uname
{% endif %}
{% if galaxy_job_metrics_env %}
- type: env
{% endif %}
{% if galaxy_job_metrics_hostname %}
- type: hostname
{% endif %}
{% if galaxy_job_metrics_cgroup %}
- type: cgroup
{% endif %}
